---
import Base from '../layouts/Base.astro';
---

<Base title="About" description="About me">
  <div class="container">
    <h1>About Me</h1>
    <p>I build AI agents at <a href="https://atlas.so" target="_blank" rel="noopener noreferrer">Atlas</a>.
        I believe in one thing: Happiness in learning. People are never unhappy when they're learning something they truly care about.
        Technology is changing fast. I explore what's possible and write about what I find.
    </p>
    <p>Lets connect on <a href="https://x.com/divyamchandel" target="_blank" rel="noopener noreferrer">X</a>, <a href="https://github.com/chandeldivyam" target="_blank" rel="noopener noreferrer">GitHub</a>, <a href="https://www.linkedin.com/in/divyamchandel/" target="_blank" rel="noopener noreferrer">LinkedIn</a>.</p>
  </div>
</Base>